name: Publish Package

on:
  push:
    tags:
      - v*

permissions: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'yarn'
      - run: |
          yarn --immutable
          yarn build
      - run: npm pkg delete scripts devDependencies packageManager
      - run: |
          node --version
          npm --version
      - run: npm publish
